@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --real-red: hsl(14, 86%, 42%);
    --real-green: hsl(159, 69%, 38%);
    --Rose-50: hsl(20, 50%, 98%);
    --Rose-100: hsl(13, 31%, 94%);
    --Rose-300: hsl(14, 25%, 72%);
    --Rose-400: hsl(7, 20%, 60%);
    --Rose-500: hsl(12, 20%, 44%);
    --Rose-900: hsl(14, 65%, 9%);
}
@font-face {
    font-family: 'RedHat';
    src: url(./assets/fonts/RedHatText-VariableFont_wght.ttf);
}

@layer components{
    .producto{
        @apply relative; 

        & .dessert{
            @apply  text-[13px] text-gray-500;
        }
        & .name{
            @apply text-[16px] font-semibold
        }
        & .price{
            @apply text-realRed text-sm font-semibold
        }
    }
    .add-cart{
        @apply flex bg-white border border-realRed rounded-3xl text-sm mx-auto px-3 py-1 items-center font-semibold -mt-4 absolute right-11 hover:text-realRed;
        & img{
            @apply w-5 m-1;
        }
    }
    .big-img{
        @apply w-full max-w-56;
    }
    .description {
        @apply  mt-6;
    }
}